
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
*.sln.iml


.vs/
.vscode/
*.ncb
*.log
*.sdf
*.opensdf
*.cachefile
*.dbmdl


*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json


[Dd]ebug/
[Rr]elease/
x64/
x86/

## Others
*.tmp
*.bak
*.swp
*.orig
*.rej
*.bin